// Colors
$accent: #ee8572;
$accent2: darken($accent, 10%);

$background: #35495e;
$background2: darken($background, 10%);

// Transition times
$transition_time_link: .1s;
$transition_time_button: .1s;
